#leftside, #rightside {
    width:100%;
}

#leftside {
    background: #D8B39F;
    opacity: 100%;
    padding: 50px;
}

#rightside {
    background-color: white;
    top: 15px;
    left: 15px;
    
}

.navbar-light {
    background-color: white;
    padding: 1.5%;
}

.navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

#imgcol{
    padding-top: 50px;
    padding-left: 30px;
}

.rounded-circle {
    width: 200px;
    height: 200px;
}

#socialcol {
    padding: 20px;
}

.fa {
    font-size: 36px;
    color: rgb(53, 51, 51);
    display: inline-block;
    text-align: center;
   
}

i:hover  {
    color: rgb(63, 63, 63);
    transition: .5;

}

.col-md-12 h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 15px;
}

.col-md-12 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 15px;
}

.jumbotron {
    background-color:#d8b39fa6;
}    

.display-4 { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 100;

}

.amcontainer {
    
    max-width: 700px;
}


/* Portfolio */

#toprow {

    margin-top: 20px;
    margin-bottom: 20px;
}

.col-md-6 {
    margin-bottom: 20px;
}

/* Footer*/

.footer {
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
    color:  rgb(53, 51, 51);
  }